<%- include("../includes/top") %>
<%- include("../includes/nav") %>


<form action="/reset/password" method="post" class="myform">
    <label>
        Enter your new password
        <input type="hidden" name="id" value="<%= userId %>">
        <input type="hidden" name="token" value="<%= token %>">
        <input type="text" name="password" id="">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    </label>
    <input type="submit" value="Reset Password">
   </form>
<%- include("../includes/bottom") %>
