<%- include("../includes/top") %>
<%- include("../includes/nav") %>

<div class="container">
    <main>
        <% if (orders.length <= 0) { %>
            <h1>Nothing there!</h1>
        <% } else { %>
            <ul style="flex-direction:column; justify-content:center;">
                <% orders.forEach(order => { %>
                    <li style="display:block; margin:4px auto;">
                        <h1><%= order._id %><a href="/invoice/<%= order._id %>" style="color:blue;">Invoice</a></h1>
                        <ul>
                            <% order.products.forEach(product => { %>
                                <li ><%= product.product.title %> (<%= product.quantity %>)</li>
                                
                            <% }); %>
                        </ul>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </main>
    
</div>


<%- include("../includes/bottom") %>
