<%- include("../includes/top") %>
<%- include("../includes/nav") %>

<div class="container">
  <div class="product_detail">
    <img src="/<%= data.imageUrl %>" alt="">
    <hr>
    <h1><%= data.title %></h1>
    <p>$ <%= data.price %></p>
    <hr>
    <span><%= data.description %></span>
    <% if(isAuthenticated!=undefined) { %>
   <form action="/add_to_cart" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" name="id" value="<%= data._id %>">
    <button type="submit" class="btn">Add to cart</button>
   </form>
   <% } %>
  </div>
    
</div>


<%- include("../includes/bottom") %>
