<%- include("../includes/top") %>
<%- include("../includes/nav") %>

<div class="container">
    
<% if(product.length>0){ %>
    <% product.forEach((e)=>{%>
        <article>
            <h2><%= e.title %></h2>
            <img src=<%= e.imageUrl %> alt="Book Image">
            <hr>
            <h4>Price: <span style="color:red;font-size: 20px;">$<%= e.price %></span></h4>
            <p><%= e.description %></p>
            <div class="btns">
                <% if(isAuthenticated!=undefined) { %>
                <form action="/add_to_cart" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="hidden" name="id" value="<%= e._id %>">
                    <button type="submit" class="btn">Add to cart</button>
                </form>
                   <% } %>
                <button class="btn"><a href="/details/<%= e._id %>">Details</a></button>
            </div>
        </article>
        <% })%>
        
    </div>
    <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
<% } else { %>
    <h1>No product found!</h1>
<% } %>


<%- include("../includes/bottom") %>
